[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
domonic = "~=0.6"
sanic = "~=21.9"

[dev-packages]
black = "==21.9b0"
isort = "*"

[requires]
python_version = "3.8"

[scripts]
lint = "python -m scripts.lint"
